<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<!-- If you want to add some JS file to your page, do like this way. -->
<% include templates/header.ejs %>

<h1><%= name %></h1>
<h3><%= videoData.categoryName %></h3>

</body>
</html>
